.page__billing-info {
}

.page {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 30px 15px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
  }
}

// FORM

