@import "../../assets/styles/colors.vars.scss";

@mixin button($state, $clr-main, $clr-hover-active, $clr-disabled) {
  .button-#{$state} {
    color: $clr-white;
    background-color: $clr-main;
    border: none;

    &:hover,
    &:active {
      background-color: $clr-hover-active;
      color: $clr-white;
      text-decoration: none;
    }
    &:disabled {
      background-color: $clr-disabled;
      border-color: $clr-disabled;
      & > div {
        opacity: 0.5;
      }
    }
    &-outline {
      background-color: #fff;
      color: $clr-main;
      border: 2px solid $clr-main;

      &:hover,
      &:active {
        color: $clr-hover-active;
        background-color: $clr-white;
        border-color: $clr-hover-active;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  padding: 10px 16px;
  height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  gap: 10px;
  cursor: poiner;
  text-decoration: none;

  &:disabled,
  &:hover:disabled {
    background-color: $clr-disabled;
    border-color: $clr-disabled;
    color: $clr-white;

    & > div {
      opacity: 0.5;
    }
  }

  &-reversed {
    flex-direction: row-reverse;
  }

  a.button-icon,
  &-icon {
    width: 20px;
    height: 20px;
    // background-color: $clr-error-color;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 100%;
    }
  }
}

@include button(
  "success",
  $clr-primary-main,
  $clr-primary-hover,
  $clr-disabled
);
@include button(
  "secondary",
  $clr-secondary-main,
  $clr-secondary-hover,
  $clr-disabled
);
@include button("error", $clr-error-main, $clr-error-hover, $clr-disabled);
