@import "../../assets/styles/colors.vars.scss";

@mixin button(
  $state,
  $clr-secondary-main,
  $clr-secondary-hover,
  $clr-disabled
) {
  .button-#{$state} {
    color: $clr-white;
    background-color: $clr-secondary-main;
    border: none;

    &:hover,
    &:active {
      background-color: $clr-secondary-hover;
    }
    &:disabled {
      background-color: $clr-disabled;
      & > div {
        opacity: 0.5;
      }
    }
    &-outline {
      background-color: #fff;
      color: $clr-secondary-main;
      border: 2px solid $clr-secondary-main;

      &:hover,
      &:active {
          color: $clr-secondary-hover;
          border-color: $clr-secondary-hover;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 160px;
  padding: 10px 16px;
  height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  border: 2px solid $clr-black;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  gap: 10px;

  &-reversed {
    flex-direction: row-reverse;
  }

  &-icon {
    width: 20px;
    height: 20px;
    background-color: $clr-error-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include button("success", $clr-primary-main, $clr-primary-hover, $clr-disabled);
@include button("secondary", $clr-secondary-main, $clr-secondary-hover, $clr-disabled);
@include button("error", $clr-error-main, $clr-error-hover, $clr-disabled);
