.billing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 30px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;

  .billing-data {
    min-height: 500px;

    .billing-form__body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
  .payment-methods {
    min-height: 500px;
  }

  .section__title {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin-bottom: 22px;
    display: inline-block;
  }

  &-form__item {
    width: fit-content;
    // border: 1px solid tomato;
    flex-shrink: 1;
    margin-bottom: 32px;
    flex: 0 0 50%;
    width: 100%;

    & label {
      display: block;
      text-transform: capitalize;
      font-family: "Fira Sans";
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 14px;
    }
  }

  &-form__input {
    padding: 13px;
    width: 100%;
  }

  &-form__item-text {
    // padding: 13px 0;
    border: 1px solid transparent;
  }

  &-form__input,
  &-form__item-text {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
}

.edit {
  border: none;
  background-color: inherit;
  border: 1px solid #61ca8d;
  padding: 9px;
  display: inline-block;
  margin-left: 14px;
  border-radius: 3px;

  & i {
    color: #61ca8d;
  }
}

button.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 160px;
  height: 50px;
  background-color: #6bd098;
  border: none;
  text-transform: uppercase;
}
