$clr-black: #000;
$clr-dark-grey: #2c2c2c;
$clr-error-color: #d22323;
$clr-primary-main: #6bd098;
$clr-primary-hover: #6bc083;
$clr-error-main: #ef8157;
$clr-error-hover: #dc6c41;
$clr-secondary-main: #007bff;
$clr-secondary-hover: #51bcda;
$clr-grey-main: #8f8f8f;
$clr-grey-light: #b6b6b6;
$clr-main-shadow: #c4c4c4;
$clr-disabled: #dedede;
$clr-main-background-color: #f4f3ef;
$clr-white: #fff;
